h1{
    text-align: center;
}
p{
    font-family: serif;
}
a{
    outline: 1px solid #333
}
#primer-parrafo{
    color:#CEE;
}
em{
    color: #933;
}
p.fuente{
    opacity: 100%;
}
p:not([id]) {
    text-shadow: none;
}